* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

a {
    text-decoration:none;
}

a>* {
    color: black;
}


.container-main {
    margin-top: 5vh;
    padding: 20px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#error_equal_pass {
    color: red;
}
#succes {
    color: rgb(56, 183, 56);
}

.title {
    text-align: center;
}

.container-articles {
    display: flex;
    flex-direction: column;
}

.container-element {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 15px;
    background-color:rgb(246, 255, 255);

    &__group {
        display: flex;
        justify-content: space-between;
    }
    &__link {
        text-align: right;
        font-size: 10px;
        display: flex;
        align-items: center;
        a {
            padding: 7px;
            background-color: black;
            color: white;
            border-radius: 4px;
            text-decoration: none;
            margin-left: 2px;
            &:hover {
                color: green;
            }
        }

    }
}

#error_status_code_img {
    width:400px;
    margin-left:auto; 
    margin-right:auto; 
    display: block;
}

#error_status_code_text {
    text-align: center;
    font-size: 72px;
    width:500px;
    margin-left:auto; 
    margin-right:auto; 
    display: block;
}
